## List of variables:  
**Main dataset:**
- `data_raw` : data imported locally, needs some touching up
- `data` : data stripped of unneeded information
- `data_ml` : actual data used for machine learning

**For machine learning:**
- `results_<train/test>` : oscar results, in boolean form
- `movinfo_<train/test>` : movie data, as a large dataframe

In [4]:
## Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt 
sb.set(palette='icefire')

## Machine learning libraries
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, BaggingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing, metrics
import xgboost

from collections import Counter
import statistics as stat
import hashlib ## for converting strings into unique ints
import _functions_1115 as func

In [5]:
## import cleaned data from local dir
data_raw = pd.read_csv('./data/Final_Movie_Data_clean.csv').drop('Unnamed: 0',axis=1)
data = data_raw.copy(deep=True)
data_raw.info()
data_raw.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tmdb_id            1838 non-null   int64
 1   imdb_id            1838 non-null   object
 2   film               1838 non-null   object
 3   year               1838 non-null   int64
 4   budget             1838 non-null   float64
 5   revenue            1838 non-null   float64
 6   oscar_cat          1838 non-null   object
 7   oscar_win          1838 non-null   bool
 8   oscar_nominations  1838 non-null   int64
 9   oscar_win_count    1838 non-null   int64
 10  total_wins         1838 non-null   int64
 11  total_nominations  1838 non-null   int64
 12  cast_popularity    1838 non-null   float64
 13  crew_popularity    1838 non-null   float64
 14  tmdb_vote_average  1838 non-null   int64
 15  tmdb_vote_count    1838 non-null   int64
 16  imdb_rating        1838 non-null   int64
 17  imdb_votes         1838 non-null   int64
 18  rotten_tomatoes    1838 non-null   float64
 19  metascore          1838 non-null   float64
 20  director           1838 non-null   object
 21  genre_id_0         1836 non-null   float64
 22  genre_id_1         1399 non-null   float64
 23  cast_0             1838 non-null   object
 24  cast_1             1837 non-null   object
 25  cast_2             1836 non-null   object
 26  cast_3             1836 non-null   object
 27  producer_0         1773 non-null   object
 28  producer_1         1169 non-null   object
 29  screenplay_0       1418 non-null   object
dtypes: bool(1), float64(8), int64(10), object(11)
memory usage: 418.3+ KB

,tmdb_id,year,budget,revenue,oscar_nominations,oscar_win_count,total_wins,total_nominations,cast_popularity,crew_popularity,tmdb_vote_average,tmdb_vote_count,imdb_rating,imdb_votes,rotten_tomatoes,metascore,genre_id_0,genre_id_1
count,1838.000000,1838.000000,1.838000e+03,1.838000e+03,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1.838000e+03,1838.000000,1838.000000,1836.000000,1399.000000
mean,55636.692601,1990.130577,2.267939e+07,1.312399e+08,5.627312,1.574538,34.085963,56.468444,75.404440,49.638538,73.144178,2827.273667,75.741023,2.242283e+05,82.727947,78.704704,515.738017,3060.347391
std,112345.263388,17.487232,2.831061e+07,1.961337e+08,3.289987,2.013467,42.673415,69.552938,51.746486,61.079298,5.639255,4233.068392,5.159868,3.326663e+05,18.567210,10.720935,2191.254486,4794.626740
min,11.000000,1960.000000,6.000000e+00,8.000000e+00,1.000000,0.000000,2.000000,2.000000,2.843000,0.600000,45.000000,2.000000,58.000000,6.800000e+01,10.000000,26.000000,12.000000,12.000000
25%,1542.750000,1975.000000,8.000000e+06,3.589233e+07,3.000000,0.000000,8.000000,12.000000,36.480000,16.350250,69.000000,211.000000,72.000000,1.975600e+04,80.000000,74.000000,18.000000,18.000000
50%,11159.000000,1990.000000,1.538553e+07,8.854509e+07,5.000000,1.000000,17.000000,24.000000,63.700500,28.290000,73.000000,930.000000,76.000000,9.252700e+04,89.000000,79.883065,18.000000,36.000000
75%,42122.000000,2006.000000,2.500000e+07,1.400000e+08,8.000000,2.000000,42.000000,77.000000,98.916000,58.650000,77.000000,3322.000000,79.000000,2.772420e+05,93.000000,86.000000,35.000000,10402.000000
max,551332.000000,2019.000000,2.370000e+08,2.787965e+09,14.000000,11.000000,297.000000,372.000000,298.903000,714.314000,87.000000,28781.000000,93.000000,2.367380e+06,99.000000,100.000000,10752.000000,10752.000000

## NO LONGER NEEDED
## replacing all NAN values in 'metascore' col with the existing average score
#display(data['metascore'].describe())
#display(data.info())
data['metascore'].fillna(data['metascore'].mean(), axis=0, inplace=True)
#display(data['metascore'].describe())
#display(data.info())

## Removing columns not needed for machine learning
Also removing all NaN values in the machine learning dataframe

In [6]:
## Remove columns not needed in machine learning
## Cols that do with year of film, name etc
data_ml = data.drop([
    'tmdb_id',
    'imdb_id',
    'film',
    'year'
], axis=1)

## remove NaN values
data_ml.dropna(axis=0, subset=['producer_0',], inplace=True)
## remove genre_id_1, producer_1 and screenplay_0, too little values, cannot be substituted for stuff like average
data_ml.drop([
    'genre_id_1',
    'producer_1',
    'screenplay_0'
], axis=1, inplace=True)
data_ml.info()
#data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1773 entries, 1 to 1837
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             1773 non-null   float64
 1   revenue            1773 non-null   float64
 2   oscar_cat          1773 non-null   object
 3   oscar_win          1773 non-null   bool
 4   oscar_nominations  1773 non-null   int64
 5   oscar_win_count    1773 non-null   int64
 6   total_wins         1773 non-null   int64
 7   total_nominations  1773 non-null   int64
 8   cast_popularity    1773 non-null   float64
 9   crew_popularity    1773 non-null   float64
 10  tmdb_vote_average  1773 non-null   int64
 11  tmdb_vote_count    1773 non-null   int64
 12  imdb_rating        1773 non-null   int64
 13  imdb_votes         1773 non-null   int64
 14  rotten_tomatoes    1773 non-null   float64
 15  metascore          1773 non-null   float64
 16  director           1773 non-null   object
 17  genre_id_0         1773 non-null   float64
 18  cast_0             1773 non-null   object
 19  cast_1             1773 non-null   object
 20  cast_2             1773 non-null   object
 21  cast_3             1773 non-null   object
 22  producer_0         1773 non-null   object
dtypes: bool(1), float64(7), int64(8), object(7)
memory usage: 320.3+ KB

## Hashing objects into integers
Hashing this way allows the use of non-integer fields for machine learning

In [7]:
## hash all strings into ints, using sha256
strhash = lambda x: int(hashlib.sha256(x.encode('utf-8')).hexdigest(),16) % 10**8

fields = data_ml.select_dtypes('object').columns.tolist()
for field in fields:
    data_ml[field] = data_ml[field].apply(lambda x: int(hashlib.sha256(x.encode('utf-8')).hexdigest(),16) % 10**8)

In [9]:
data_ml.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1773 entries, 1 to 1837
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             1773 non-null   float64
 1   revenue            1773 non-null   float64
 2   oscar_cat          1773 non-null   int64
 3   oscar_win          1773 non-null   bool
 4   oscar_nominations  1773 non-null   int64
 5   oscar_win_count    1773 non-null   int64
 6   total_wins         1773 non-null   int64
 7   total_nominations  1773 non-null   int64
 8   cast_popularity    1773 non-null   float64
 9   crew_popularity    1773 non-null   float64
 10  tmdb_vote_average  1773 non-null   int64
 11  tmdb_vote_count    1773 non-null   int64
 12  imdb_rating        1773 non-null   int64
 13  imdb_votes         1773 non-null   int64
 14  rotten_tomatoes    1773 non-null   float64
 15  metascore          1773 non-null   float64
 16  director           1773 non-null   int64
 17  genre_id_0         1773 non-null   float64
 18  cast_0             1773 non-null   int64
 19  cast_1             1773 non-null   int64
 20  cast_2             1773 non-null   int64
 21  cast_3             1773 non-null   int64
 22  producer_0         1773 non-null   int64
dtypes: bool(1), float64(7), int64(15)
memory usage: 320.3 KB

## Learning using Adaptive Boosting

In [ ]:
accuracy = {}
matrix = {}

In [ ]:
## ML part (re-run with some headers included/ommited to see which is best)
results = data_ml['oscar_win'] ## response
movinfo = data_ml.drop(['oscar_win'#,'oscar_cat','director','producer_0','cast_3','cast_2','cast_1','cast_0'
                        ], axis=1) ## predictor, vary the columns used
display(movinfo.head(1))
## default split is 75% train, 25% test
movinfo_train, movinfo_test, results_train, results_test = train_test_split(movinfo, results) 

## Adaboost, OK
adaboost = AdaBoostClassifier(n_estimators=100, ## number of weak learners to be trained iteratively, more may be better, see results
                             learning_rate=0.2) ## something to do with how the weak learners are weighted
model = adaboost.fit(movinfo_train, results_train)

## Try out the model on test data
results_pred = model.predict(movinfo_test)
accuracy['adaboost'] = metrics.accuracy_score(results_test, results_pred)
matrix['adaboost'] = metrics.confusion_matrix(results_test, results_pred)
print("Accuracy:", accuracy['adaboost'])

## Learning using Gradient Boosting

In [ ]:
## ML part (re-run with some headers included/ommited to see which is best) trying out gradient boosting
results = data_ml['oscar_win'] ## response
movinfo = data_ml.drop(['oscar_win'#,'oscar_cat','director','producer_0','cast_3','cast_2','cast_1','cast_0'
                        ], axis=1) ## predictor, vary the columns used
display(movinfo.head(1))
## default split is 75% train, 25% test
movinfo_train, movinfo_test, results_train, results_test = train_test_split(movinfo, results) 

## Gradboost, OK
gradbooster = GradientBoostingClassifier(n_estimators=100, ## number of weak learners to be trained iteratively, more may be better, see results
                                         learning_rate=0.2,
                                         subsample=0.6
                                        ) ## something to do with how the weak learners are weighted
model = gradbooster.fit(movinfo_train, results_train)

## Try out the model on test data
accuracy['gradboost'] = metrics.accuracy_score(results_test, results_pred)
matrix['gradboost'] = metrics.confusion_matrix(results_test, results_pred)
print("Accuracy:", accuracy['gradboost'])

## Learning using ExtRa Trees (Extremely Random Trees)

In [ ]:
## ML part (re-run with some headers included/ommited to see which is best) trying out gradient boosting
results = data_ml['oscar_win'] ## response
movinfo = data_ml.drop(['oscar_win'#,'oscar_cat','director','producer_0','cast_3','cast_2','cast_1','cast_0'
                        ], axis=1) ## predictor, vary the columns used
display(movinfo.head(1))
## default split is 75% train, 25% test
movinfo_train, movinfo_test, results_train, results_test = train_test_split(movinfo, results) 

## ExtRaboost, OK
extratrees = ExtraTreesClassifier(n_estimators=1000, ## number of weak learners to be trained iteratively, more may be better, see results
                                  max_depth=None,
                                  min_samples_split=2,
                                  random_state=0,
                                  warm_start=True
                                ) ## something to do with how the weak learners are weighted
model = extratrees.fit(movinfo_train, results_train)

## Try out the model on test data
accuracy['extrarand'] = metrics.accuracy_score(results_test, results_pred)
matrix['extrarand'] = metrics.confusion_matrix(results_test, results_pred)
print("Accuracy:", accuracy['extrarand'])

## Learning using Random Forests

In [ ]:
## ML part (re-run with some headers included/ommited to see which is best) trying out gradient boosting
results = data_ml['oscar_win'] ## response
movinfo = data_ml.drop(['oscar_win'#,'oscar_cat','director','producer_0','cast_3','cast_2','cast_1','cast_0'
                        ], axis=1) ## predictor, vary the columns used
display(movinfo.head(1))
## default split is 75% train, 25% test
movinfo_train, movinfo_test, results_train, results_test = train_test_split(movinfo, results) 

## RandForestboost, OK
randforest = RandomForestClassifier(n_estimators=100, ## number of weak learners to be trained iteratively, more may be better, see results
                                    warm_start=True
                                    ) ## something to do with how the weak learners are weighted
model = randforest.fit(movinfo_train, results_train)

## Try out the model on test data
accuracy['randforest'] = metrics.accuracy_score(results_test, results_pred)
matrix['randforest'] = metrics.confusion_matrix(results_test, results_pred)
print("Accuracy:", accuracy['randforest'])

## Learning using eXtreme Gradient Boosting (XGBoost)

In [ ]:
## ML part (re-run with some headers included/ommited to see which is best) trying out gradient boosting
results = data_ml['oscar_win'] ## response
movinfo = data_ml.drop(['oscar_win'#,'oscar_cat','director','producer_0','cast_3','cast_2','cast_1','cast_0'
                        ], axis=1) ## predictor, vary the columns used
display(movinfo.head(1))
## default split is 75% train, 25% test
movinfo_train, movinfo_test, results_train, results_test = train_test_split(movinfo, results) 

num_round=100
xgb = xgboost.XGBClassifier(objective='reg:logistic',
                           max_depth = 100, 
                           alpha = 15, 
                           n_estimators = 10)
model = xgb.fit(movinfo_train, results_train)

## Try out the model on test data
accuracy['xgboost'] = metrics.accuracy_score(results_test, results_pred)
matrix['xgboost'] = metrics.confusion_matrix(results_test, results_pred)
print("Accuracy:", accuracy['xgboost'])

In [ ]:
df_accuracy = pd.DataFrame.from_dict(accuracy, orient='index').T.reset_index(drop=True)

f = plt.figure(figsize=(12,6))
sb.barplot(data=df_accuracy)
plt.title("Comparing machine learning methods", loc='left', fontsize=15)
## comment below line out after exporting to png
#.savefig('./images/ml_acuracy_5',bbox_inches='tight',dpi=600)

In [ ]:
f, axes = plt.subplots(1,5,figsize=(25,5))
index=0
col=0
for line in matrix:
    sb.heatmap(data=matrix[line], ax=axes[index],annot = True, fmt=".0f", annot_kws={"size": 15})
    axes[index].set_title(line, loc='left', fontsize=16)
    index+=1
plt.show()
## comment below line out after exporting to png
#f.savefig('./images/confusion_matrix_5.png',bbox_inches='tight',dpi=600)

In [ ]:
#sb.heatmap(matrix['adaboost'],annot = True, fmt=".0f", annot_kws={"size": 15})

In [ ]:
test_cm = metrics.confusion_matrix(results_test, results_pred)
sb.heatmap(test_cm, 
           annot = True, fmt=".0f", annot_kws={"size": 15})

In [ ]:
## take in nominee list, parse through cleaning code
## pass thru best model(adaboost) to see the results
nom_bestactor = pd.read_csv('./data/best_actor_nominee.csv').drop('Unnamed: 0',axis=1)
nom_bestactor.info()

In [48]:
def makeready(df_in):
    import _functions_1115 as func
    new_headers = {
    'cast':['cast_0','cast_1','cast_2','cast_3'],
    'producers':['producer_0','producer_1'],
    'screenplay':['screenplay_0']
    }
    
    df_in.drop(['Unnamed: 0',
               'runtime',
               'nominee'], axis=1, inplace=True)
    
    df_in.rename({
    'year_film':'year',
    'oscar_category':'oscar_cat',
    'no_oscar_wins':'oscar_win_count',
    'no_oscar_nominations':'oscar_nominations',
    'staring_casts':'cast',
    'casts_popularity':'cast_popularity',
    'rotten_tomatoes_rating':'rotten_tomatoes'
    }, axis=1, inplace=True)
    
    for item in new_headers:
        df_in[item] = [func.strtolist(df_in[item][index]) for index in range(len(df_in))]
    
    for currheader in new_headers:
        ## look for target subcols, check if they exist first
        if currheader in df_in:
            ## perform addition of new cols from currheader list containing only 1 entry, NAN if list index out of range
            for subcol in range(len(new_headers[currheader])):

                tmp_list = []
                for i in range(len(df_in)):
                    ## checks if list index still in range
                    try:
                        tmp_list.append(df_in[currheader][i][subcol])
                    ## adds NAN if out of range
                    except:
                        tmp_list.append(None)

                df_in[new_headers[currheader][subcol]] = tmp_list

        df_in = df_in.convert_dtypes()
        
    df_in.drop([
    'year_ceremony','cast','producers','screenplay'
    ], axis=1, inplace=True)
    
    col_list_reorder = [
    'film',
    'budget', ## not inside?
    'revenue', ## not inside?
    'oscar_cat',
    'oscar_win',
    'oscar_nominations',
    #'oscar_win_count',
    'total_wins',
    'total_nominations',
    'cast_popularity',
    'crew_popularity',
    'tmdb_vote_average',
    'tmdb_vote_count',
    'imdb_rating',
    'imdb_votes',
    'rotten_tomatoes',
    'metascore',
    'director',
    'cast_0',
    'cast_1',
    'cast_2',
    'cast_3',
    'producer_0',
    'producer_1',
    'screenplay_0',
    'Drama',
    'History',
    'Music',
    'Action',
    'Adventure',
    'Animation',
    'Comedy',
    'Crime',
    'Family',
    'Fantasy',
    'Horror',
    'Mystery',
    'Romance',
    'Science Fiction',
    'Thriller',
    'War',
    'Western',           
    ]
    df_in = df_in[col_list_reorder]
    
    df_in.dropna(axis=0, subset=['producer_0',], inplace=True)
    ## remove genre_id_1, producer_1 and screenplay_0, too little values, cannot be substituted for stuff like average
    df_in.drop([
        'producer_1',
        'screenplay_0',
        'budget',
        'revenue'
    ], axis=1, inplace=True)
    
    return df_in

In [2]:
func.makeready(pd.read_csv('./data/Final_Movie_Data_Cleaned.csv'))

,film,oscar_cat,oscar_win,oscar_nominations,total_wins,total_nominations,cast_popularity,crew_popularity,tmdb_vote_average,tmdb_vote_count,...,Crime,Family,Fantasy,Horror,Mystery,Romance,Science Fiction,Thriller,War,Western
1,Elmer Gantry,Best Actor,True,5,8,13,48.935,15.675,73,87,...,0,0,0,0,0,0,0,0,0,0
2,The Apartment,Best Actor,False,10,19,8,51.102,35.907,82,1437,...,0,0,0,0,0,1,0,0,0,0
3,The Entertainer,Best Actor,False,1,19,4,48.757,30.864,62,28,...,0,0,0,0,0,0,0,0,0,0
4,Inherit the Wind,Best Actor,False,4,3,7,80.678,23.515,78,254,...,0,0,0,0,0,0,0,0,0,0
5,Sunrise at Campobello,Best Actress,False,4,3,3,22.725,8.560,58,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,Knives Out,Best Original Screenplay,False,1,47,108,174.475,65.006,78,7103,...,1,0,0,0,1,0,0,0,0,0
1832,Marriage Story,Best Original Screenplay,False,6,126,269,170.486,83.667,78,4784,...,0,0,0,0,0,0,0,0,0,0
1833,1917,Best Original Screenplay,False,10,128,200,115.504,147.824,79,8017,...,0,0,0,0,0,0,0,1,1,0
1834,Once upon a Time...in Hollywood,Best Original Screenplay,False,10,135,372,334.807,224.476,75,8539,...,0,0,0,0,0,0,0,1,0,0
1835,Parasite,Best Original Screenplay,True,6,297,265,90.988,124.639,85,11179,...,0,0,0,0,0,0,0,1,0,0

In [37]:
df = pd.read_csv('./data/best_actor_nominee.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5 non-null      int64
 1   tmdb_id                 5 non-null      int64
 2   imdb_id                 5 non-null      object
 3   year_film               5 non-null      int64
 4   year_ceremony           5 non-null      int64
 5   film                    5 non-null      object
 6   oscar_win               5 non-null      bool
 7   oscar_category          5 non-null      object
 8   nominee                 5 non-null      object
 9   staring_casts           5 non-null      object
 10  casts_popularity        5 non-null      float64
 11  director                5 non-null      object
 12  producers               5 non-null      object
 13  screenplay              5 non-null      object
 14  crew_popularity         5 non-null      float64
 15  budget                  5 non-null      int64
 16  runtime                 5 non-null      int64
 17  tmdb_vote_average       5 non-null      int64
 18  tmdb_vote_count         5 non-null      int64
 19  imdb_rating             5 non-null      int64
 20  imdb_votes              5 non-null      int64
 21  revenue                 5 non-null      int64
 22  rotten_tomatoes_rating  5 non-null      int64
 23  metascore               5 non-null      int64
 24  total_wins              5 non-null      int64
 25  no_oscar_nominations    5 non-null      int64
 26  total_nominations       5 non-null      int64
 27  Drama                   5 non-null      int64
 28  History                 5 non-null      int64
 29  Music                   5 non-null      int64
 30  Action                  5 non-null      int64
 31  Adventure               5 non-null      int64
 32  Animation               5 non-null      int64
 33  Comedy                  5 non-null      int64
 34  Crime                   5 non-null      int64
 35  Family                  5 non-null      int64
 36  Fantasy                 5 non-null      int64
 37  Horror                  5 non-null      int64
 38  Mystery                 5 non-null      int64
 39  Romance                 5 non-null      int64
 40  Science Fiction         5 non-null      int64
 41  Thriller                5 non-null      int64
 42  War                     5 non-null      int64
 43  Western                 5 non-null      int64
dtypes: bool(1), float64(2), int64(33), object(8)
memory usage: 1.8+ KB

In [ ]:
## ML part (re-run with some headers included/ommited to see which is best)
results = data_ml['oscar_win'] ## response
movinfo = data_ml.drop(['oscar_win'#,'oscar_cat','director','producer_0','cast_3','cast_2','cast_1','cast_0'
                        ], axis=1) ## predictor, vary the columns used
display(movinfo.head(1))
## default split is 75% train, 25% test
movinfo_train, movinfo_test, results_train, results_test = train_test_split(movinfo, results) 

## Adaboost, OK
adaboost = AdaBoostClassifier(n_estimators=100, ## number of weak learners to be trained iteratively, more may be better, see results
                             learning_rate=0.2) ## something to do with how the weak learners are weighted
model = adaboost.fit(movinfo_train, results_train)

## Try out the model on test data
results_pred = model.predict(movinfo_test)
accuracy['adaboost'] = metrics.accuracy_score(results_test, results_pred)
matrix['adaboost'] = metrics.confusion_matrix(results_test, results_pred)
print("Accuracy:", accuracy['adaboost'])

---
### Test cells
---

In [ ]:
## Try one-hot encoding of oscar award category
from sklearn.preprocessing import OneHotEncoder

In [ ]:
## trying out encoding objs to a unique int
data_v2 = data.copy(deep=True)
data_v2_n = data_v2.drop(['producer_1','screenplay_0'], axis=1)
data_v2_n.info()

In [ ]:
fields = [
    'oscar_cat',
    'director',
    'starring_0',
    'starring_1',
    'starring_2',
    'starring_3',
    'producer_0'
]
for field in fields:
    data_v2_n[field] = label_encoder.fit_transform(data_v2_n[field])
data_v2_n

In [ ]:
## partitioning data into train and test
X = data_v2_n.drop(['oscar_win'], axis=1)

y = data_v2_n['oscar_win']
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
## boost, OK
booster = AdaBoostClassifier(n_estimators=60, ## number of weak learners to be trained iteratively, more may be better, see results
                             learning_rate=0.8) ## something to do with how the weak learners are weighted

model = booster.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
## Testing out hashing function to map every str to a unique int
import hashlib

def hash(sourcedf,destinationdf,*column):
    columnName = ''
    destinationdf['hash_'+columnName.join(column)] = pd.DataFrame(sourcedf[list(column)].values.sum(axis=1))[0].apply(lambda x: int(hashlib.sha512(x.encode('utf-8')).hexdigest(),16) % 10**8)

In [ ]:
%time
## This works
strhash = lambda x: int(hashlib.sha256(x.encode('utf-8')).hexdigest(),16) % 10**8

In [ ]:
## no longer in use
## convert all objects and strings into ints, using LabelEncoder
label_encoder = preprocessing.LabelEncoder()

fields = data_ml.select_dtypes('object').columns.tolist()
for field in fields:
    data_ml[field] = label_encoder.fit_transform(data_ml[field])
    
data_ml

In [ ]:
z = data_ml.copy(deep=True)
fields = z.select_dtypes('object').columns.tolist()
z = z.convert_dtypes()
#z.info()
for field in fields:
    z[field] = z[field].apply(lambda x: int(hashlib.sha256(x.encode('utf-8')).hexdigest(),16) % 10**8)
#z.apply(lambda x: int(hashlib.sha256(x.encode('utf-8')).hexdigest(),16) % 10**8)
z