In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
from collections import Counter
import statistics as stat

## Own functions
import _functions_1115 as func

## Stuff to do:
- Convert all fields to the best possible data type
- Remove unwanted headers: budget, revenue, unnamed, runtime
- Convert string representation of lists to list. Assign 3 new columns for each list
    - Headers in question are producers, screenplay, starring_casts, genre_id (4 headers)

In [2]:
## Import dirty data
data_raw = pd.read_csv('./data/Final_Movie_Data_Cleaned.csv')
data_raw.info(10)
##data_raw['film']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1838 non-null   int64
 1   Unnamed: 0.1            1838 non-null   int64
 2   tmdb_id                 1838 non-null   int64
 3   imdb_id                 1838 non-null   object
 4   year_film               1838 non-null   int64
 5   year_ceremony           1838 non-null   int64
 6   film                    1838 non-null   object
 7   oscar_category          1838 non-null   object
 8   nominee                 1838 non-null   object
 9   oscar_win               1838 non-null   bool
 10  no_oscar_wins           1838 non-null   float64
 11  no_oscar_nominations    1838 non-null   int64
 12  genre_id                1838 non-null   object
 13  staring_casts           1838 non-null   object
 14  casts_popularity        1838 non-null   float64
 15  director                1838 non-null   object
 16  producers               1838 non-null   object
 17  screenplay              1838 non-null   object
 18  crew_popularity         1838 non-null   float64
 19  budget                  1838 non-null   float64
 20  revenue                 1838 non-null   float64
 21  runtime                 1838 non-null   int64
 22  tmdb_vote_average       1838 non-null   int64
 23  tmdb_vote_count         1838 non-null   int64
 24  imdb_rating             1838 non-null   int64
 25  imdb_votes              1838 non-null   int64
 26  rotten_tomatoes_rating  1838 non-null   float64
 27  metascore               1838 non-null   float64
 28  total_wins              1838 non-null   int64
 29  total_nominations       1838 non-null   int64
dtypes: bool(1), float64(7), int64(13), object(9)
memory usage: 418.3+ KB

In [3]:
## from now on, data_cleaning will be used as a temp variable when changing the contents of data_raw
## data_cleaning will be continuously overwritten until arriving at final cleaned data
data_cleaning = data_raw.copy(deep=True)

In [4]:
## remove unwanted headers - those that serve no purpose in movie identification/machine learning
## budget and revenue might be filled with mean, so might be still usable
data_cleaning.drop(['Unnamed: 0','Unnamed: 0.1','runtime','nominee'], axis=1, inplace=True)

In [5]:
## convert to the best fit datatype
data_cleaning = data_cleaning.convert_dtypes()
data_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tmdb_id                 1838 non-null   Int64
 1   imdb_id                 1838 non-null   string
 2   year_film               1838 non-null   Int64
 3   year_ceremony           1838 non-null   Int64
 4   film                    1838 non-null   string
 5   oscar_category          1838 non-null   string
 6   oscar_win               1838 non-null   boolean
 7   no_oscar_wins           1838 non-null   Int64
 8   no_oscar_nominations    1838 non-null   Int64
 9   genre_id                1838 non-null   string
 10  staring_casts           1838 non-null   string
 11  casts_popularity        1838 non-null   float64
 12  director                1838 non-null   string
 13  producers               1838 non-null   string
 14  screenplay              1838 non-null   string
 15  crew_popularity         1838 non-null   float64
 16  budget                  1838 non-null   float64
 17  revenue                 1838 non-null   float64
 18  tmdb_vote_average       1838 non-null   Int64
 19  tmdb_vote_count         1838 non-null   Int64
 20  imdb_rating             1838 non-null   Int64
 21  imdb_votes              1838 non-null   Int64
 22  rotten_tomatoes_rating  1838 non-null   float64
 23  metascore               1838 non-null   float64
 24  total_wins              1838 non-null   Int64
 25  total_nominations       1838 non-null   Int64
dtypes: Int64(11), boolean(1), float64(6), string(8)
memory usage: 382.4 KB

In [6]:
## rename some headers 
data_cleaning.rename({
    'year_film':'year',
    'oscar_category':'oscar_cat',
    'no_oscar_wins':'oscar_win_count',
    'no_oscar_nominations':'oscar_nominations',
    'staring_casts':'cast',
    'casts_popularity':'cast_popularity',
    'rotten_tomatoes_rating':'rotten_tomatoes'
}, axis=1, inplace=True)
data_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tmdb_id            1838 non-null   Int64
 1   imdb_id            1838 non-null   string
 2   year               1838 non-null   Int64
 3   year_ceremony      1838 non-null   Int64
 4   film               1838 non-null   string
 5   oscar_cat          1838 non-null   string
 6   oscar_win          1838 non-null   boolean
 7   oscar_win_count    1838 non-null   Int64
 8   oscar_nominations  1838 non-null   Int64
 9   genre_id           1838 non-null   string
 10  cast               1838 non-null   string
 11  cast_popularity    1838 non-null   float64
 12  director           1838 non-null   string
 13  producers          1838 non-null   string
 14  screenplay         1838 non-null   string
 15  crew_popularity    1838 non-null   float64
 16  budget             1838 non-null   float64
 17  revenue            1838 non-null   float64
 18  tmdb_vote_average  1838 non-null   Int64
 19  tmdb_vote_count    1838 non-null   Int64
 20  imdb_rating        1838 non-null   Int64
 21  imdb_votes         1838 non-null   Int64
 22  rotten_tomatoes    1838 non-null   float64
 23  metascore          1838 non-null   float64
 24  total_wins         1838 non-null   Int64
 25  total_nominations  1838 non-null   Int64
dtypes: Int64(11), boolean(1), float64(6), string(8)
memory usage: 382.4 KB

In [7]:
## Checking the number of cols needed for each of the following fields
for col in ['genre_id','cast','producers','screenplay']:
    #check the number of genre_ids in each row
    temp_list = []
    
    ## append length of each list 
    for entry in data_cleaning[col]:
        #print(func.strtolist(entry))
        temp_list.append(len(func.strtolist(entry)))

    print('''Stats for number of genres in column '%s':
    Mean:   %d
    Median: %d
    Mode:   %d
    Min:    %d
    Max:    %d\n''' % 
    (col, stat.mean(temp_list), stat.median(temp_list), stat.mode(temp_list), min(temp_list), max(temp_list)))

Stats for number of genres in column 'genre_id':
    Mean:   2
    Median: 2
    Mode:   2
    Min:    0
    Max:    5

Stats for number of genres in column 'cast':
    Mean:   3
    Median: 4
    Mode:   4
    Min:    1
    Max:    5

Stats for number of genres in column 'producers':
    Mean:   2
    Median: 2
    Mode:   1
    Min:    0
    Max:    10

Stats for number of genres in column 'screenplay':
    Mean:   1
    Median: 1
    Mode:   1
    Min:    0
    Max:    5

In [8]:
## creating new col for each item in list, based on the cumuative stats per col above
## taking the median no. of items in a list
new_headers = {
    'genre_id':['genre_id_0','genre_id_1'], 
    'cast':['cast_0','cast_1','cast_2','cast_3'],
    'producers':['producer_0','producer_1'],
    'screenplay':['screenplay_0']
}

## replacing cols with string representation of list to an actual list
for item in new_headers:
    data_cleaning[item] = [func.strtolist(data_cleaning[item][index]) for index in range(len(data_cleaning))]

In [9]:
## WORKING
## What this does is take each existing col in the new_headers dictionary, and expands out to multiple sub columns
## This is because the existing col contains a list that is not useful when doing machine learning

## look for current col that exists in 
for currheader in new_headers:
    ## look for target subcols, check if they exist first
    if currheader in data_cleaning:
        ## perform addition of new cols from currheader list containing only 1 entry, NAN if list index out of range
        for subcol in range(len(new_headers[currheader])):
            
            tmp_list = []
            for i in range(len(data_cleaning)):
                ## checks if list index still in range
                try:
                    tmp_list.append(data_cleaning[currheader][i][subcol])
                ## adds NAN if out of range
                except:
                    tmp_list.append(None)

            data_cleaning[new_headers[currheader][subcol]] = tmp_list
            
data_cleaning = data_cleaning.convert_dtypes()

In [10]:
## removing even more cols, including the cols containing lists of str/int (cause these elements are added to multiple subcols already)
data_cleaning.drop([
    'year_ceremony', 'genre_id','cast','producers','screenplay'
], axis=1, inplace=True)

In [11]:
data_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tmdb_id            1838 non-null   Int64
 1   imdb_id            1838 non-null   string
 2   year               1838 non-null   Int64
 3   film               1838 non-null   string
 4   oscar_cat          1838 non-null   string
 5   oscar_win          1838 non-null   boolean
 6   oscar_win_count    1838 non-null   Int64
 7   oscar_nominations  1838 non-null   Int64
 8   cast_popularity    1838 non-null   float64
 9   director           1838 non-null   string
 10  crew_popularity    1838 non-null   float64
 11  budget             1838 non-null   float64
 12  revenue            1838 non-null   float64
 13  tmdb_vote_average  1838 non-null   Int64
 14  tmdb_vote_count    1838 non-null   Int64
 15  imdb_rating        1838 non-null   Int64
 16  imdb_votes         1838 non-null   Int64
 17  rotten_tomatoes    1838 non-null   float64
 18  metascore          1838 non-null   float64
 19  total_wins         1838 non-null   Int64
 20  total_nominations  1838 non-null   Int64
 21  genre_id_0         1836 non-null   Int64
 22  genre_id_1         1399 non-null   Int64
 23  cast_0             1838 non-null   string
 24  cast_1             1837 non-null   string
 25  cast_2             1836 non-null   string
 26  cast_3             1836 non-null   string
 27  producer_0         1773 non-null   string
 28  producer_1         1169 non-null   string
 29  screenplay_0       1418 non-null   string
dtypes: Int64(12), boolean(1), float64(6), string(11)
memory usage: 441.7 KB

In [12]:
## reordering the cols for clarity
#col_list = data_cleaning.columns.tolist()
#display(len(data_cleaning.columns))
#display(col_list)

col_list_reorder = [
    'tmdb_id',
    'imdb_id',
    'film',
    'year',
    'budget', ## not inside?
    'revenue', ## not inside?
    'oscar_cat',
    'oscar_win',
    'oscar_nominations',
    'oscar_win_count',
    'total_wins',
    'total_nominations',
    'cast_popularity',
    'crew_popularity',
    'tmdb_vote_average',
    'tmdb_vote_count',
    'imdb_rating',
    'imdb_votes',
    'rotten_tomatoes',
    'metascore',
    'director',
    'genre_id_0',
    'genre_id_1',
    'cast_0',
    'cast_1',
    'cast_2',
    'cast_3',
    'producer_0',
    'producer_1',
    'screenplay_0'
]
data_cleaning = data_cleaning[col_list_reorder]

In [13]:
data_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tmdb_id            1838 non-null   Int64
 1   imdb_id            1838 non-null   string
 2   film               1838 non-null   string
 3   year               1838 non-null   Int64
 4   budget             1838 non-null   float64
 5   revenue            1838 non-null   float64
 6   oscar_cat          1838 non-null   string
 7   oscar_win          1838 non-null   boolean
 8   oscar_nominations  1838 non-null   Int64
 9   oscar_win_count    1838 non-null   Int64
 10  total_wins         1838 non-null   Int64
 11  total_nominations  1838 non-null   Int64
 12  cast_popularity    1838 non-null   float64
 13  crew_popularity    1838 non-null   float64
 14  tmdb_vote_average  1838 non-null   Int64
 15  tmdb_vote_count    1838 non-null   Int64
 16  imdb_rating        1838 non-null   Int64
 17  imdb_votes         1838 non-null   Int64
 18  rotten_tomatoes    1838 non-null   float64
 19  metascore          1838 non-null   float64
 20  director           1838 non-null   string
 21  genre_id_0         1836 non-null   Int64
 22  genre_id_1         1399 non-null   Int64
 23  cast_0             1838 non-null   string
 24  cast_1             1837 non-null   string
 25  cast_2             1836 non-null   string
 26  cast_3             1836 non-null   string
 27  producer_0         1773 non-null   string
 28  producer_1         1169 non-null   string
 29  screenplay_0       1418 non-null   string
dtypes: Int64(12), boolean(1), float64(6), string(11)
memory usage: 441.7 KB

## Skip this cell
## converting data types to appropriate ones
data_cleaning = data_cleaning.astype({
    'oscar_cat':'object',
    'director':'object',
    'genre_id_0':'object',
    'genre_id_1':'object',
    'starring_0':'object',
    'starring_1':'object',
    'starring_2':'object',
    'starring_3':'object',
    'producer_0':'object',
    'producer_1':'object',
    'screenplay_0':'object'
})

In [14]:
data_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tmdb_id            1838 non-null   Int64
 1   imdb_id            1838 non-null   string
 2   film               1838 non-null   string
 3   year               1838 non-null   Int64
 4   budget             1838 non-null   float64
 5   revenue            1838 non-null   float64
 6   oscar_cat          1838 non-null   string
 7   oscar_win          1838 non-null   boolean
 8   oscar_nominations  1838 non-null   Int64
 9   oscar_win_count    1838 non-null   Int64
 10  total_wins         1838 non-null   Int64
 11  total_nominations  1838 non-null   Int64
 12  cast_popularity    1838 non-null   float64
 13  crew_popularity    1838 non-null   float64
 14  tmdb_vote_average  1838 non-null   Int64
 15  tmdb_vote_count    1838 non-null   Int64
 16  imdb_rating        1838 non-null   Int64
 17  imdb_votes         1838 non-null   Int64
 18  rotten_tomatoes    1838 non-null   float64
 19  metascore          1838 non-null   float64
 20  director           1838 non-null   string
 21  genre_id_0         1836 non-null   Int64
 22  genre_id_1         1399 non-null   Int64
 23  cast_0             1838 non-null   string
 24  cast_1             1837 non-null   string
 25  cast_2             1836 non-null   string
 26  cast_3             1836 non-null   string
 27  producer_0         1773 non-null   string
 28  producer_1         1169 non-null   string
 29  screenplay_0       1418 non-null   string
dtypes: Int64(12), boolean(1), float64(6), string(11)
memory usage: 441.7 KB

In [16]:
## finally assign variable data_clean
data_clean = data_cleaning.copy(deep=True)
## only perform this command if there are changes to be made to the csv file
#data_clean.to_csv('./data/Final_Movie_Data_clean.csv')

---
### Test cells below
---

In [ ]:
test = data_cleaning.copy(deep=True)
test = test[['genre_id','producers']]
#test = test.head(100)
## replacing by this method works, using list comprehension
test['genre_id'] = [func.strtolist(test['genre_id'][index]) for index in range(len(test))]
test['producers'] = [func.strtolist(test['producers'][index]) for index in range(len(test))]
display(test)

In [ ]:
test_list = []
for i in range(len(test)):
    try:
        test_list.append(test['genre_id'][i][0])
    except:
        test_list.append(None)

test['genre_id_0'] = test_list


## do this last
test.convert_dtypes()
#test['genre_id'][3][0]
if 'genre_id' in test:
    print(1)

In [ ]:
## WORKING
## look for current col that exists in 
for currheader in new_headers:
    ## look for target subcols, check if they exist first
    if currheader in test:
        for subcol in range(len(new_headers[currheader])):
            
            tmp_list = []
            for i in range(len(test)):
                try:
                    tmp_list.append(test[currheader][i][subcol])
                except:
                    tmp_list.append(None)

            test[new_headers[currheader][subcol]] = tmp_list
            
test = test.convert_dtypes()
test

In [ ]:
## comparing data before and after cleaning pass
display(data_raw.info())
display(data_clean.info())

In [ ]:
newdata = pd.read_csv('./data/Final_Movie_Data_Cleaned.csv')
display(newdata.info())
display(data_clean.info())