# Data Cleaning
With missing values in the budget and revenue column. Although this might not be important in predicting this years winners due to covid-19 which heavily disrupted the film industry with movite thertres. I believe this can present some valuable insights. Hence, I'll be repolacing all these NULL values wiht the mean of budget and revenue according to the award categories

In [1]:
import numpy as np
import pandas as pd

In [2]:
movie_df =  pd.read_csv("Final_Movie_Data.csv")
movie_df.head()

,Unnamed: 0,tmdb_id,imdb_id,year_film,year_ceremony,film,oscar_category,nominee,oscar_win,no_oscar_wins,...,revenue,runtime,tmdb_vote_average,tmdb_vote_count,imdb_rating,imdb_votes,rotten_tomatoes_rating,metascore,total_wins,total_nominations
0,0,53939,tt0054326,1960,1961,Sons and Lovers,Best Actor,Trevor Howard,False,1.0,...,0,103,69,18,71,1408,67.0,NaN,7,16
1,1,22013,tt0053793,1960,1961,Elmer Gantry,Best Actor,Burt Lancaster,True,3.0,...,10400000,146,72,85,78,10534,94.0,NaN,8,13
2,2,284,tt0053604,1960,1961,The Apartment,Best Actor,Jack Lemmon,False,5.0,...,25000000,125,82,1429,83,165873,93.0,94.0,19,8
3,3,18929,tt0053796,1960,1961,The Entertainer,Best Actor,Laurence Olivier,False,0.0,...,0,96,62,28,71,3022,77.0,70.0,19,4
4,4,1908,tt0053946,1960,1961,Inherit the Wind,Best Actor,Spencer Tracy,False,0.0,...,0,128,78,252,81,27478,92.0,75.0,3,7

In [3]:
movie_df.oscar_category.unique()

array(['Best Actor', 'Best Actress', 'Best Director', 'Best Picture',
       'Best Adapted Screenplay', 'Best Original Screenplay'],
      dtype=object)

In [4]:
print("Total Records with OSCAR Category of Best Actor" , movie_df.oscar_category[movie_df.oscar_category == 'Best Actor'].count())
print("Total Records with OSCAR Category of Best Actress",movie_df.oscar_category[movie_df.oscar_category == 'Best Actress'].count())
print("Total Records with OSCAR Category of Best Director", movie_df.oscar_category[movie_df.oscar_category == 'Best Director'].count())
print("Total Records with OSCAR Category of Best Picture",movie_df.oscar_category[movie_df.oscar_category == 'Best Picture'].count())
print("Total Records with OSCAR Category of Best Adapted Screenplay",movie_df.oscar_category[movie_df.oscar_category == 'Best Adapted Screenplay'].count())
print("Total Records with OSCAR Category of Best Original Screenplay", movie_df.oscar_category[movie_df.oscar_category == 'Best Original Screenplay'].count())

Total Records with OSCAR Category of Best Actor 300
Total Records with OSCAR Category of Best Actress 300
Total Records with OSCAR Category of Best Director 300
Total Records with OSCAR Category of Best Picture 343
Total Records with OSCAR Category of Best Adapted Screenplay 300
Total Records with OSCAR Category of Best Original Screenplay 295

### Budget Mean For Different Categories

In [5]:
budget_best_actor_mean = movie_df.budget[movie_df.oscar_category == 'Best Actor'].mean()
budget_best_actoress_mean = movie_df.budget[movie_df.oscar_category == 'Best Actress'].mean()
budget_best_director_mean = movie_df.budget[movie_df.oscar_category == 'Best Director'].mean()
budget_best_picture_mean = movie_df.budget[movie_df.oscar_category == 'Best Picture'].mean()
budget_best_adapted_screenplay_mean = movie_df.budget[movie_df.oscar_category == 'Best Adapted Screenplay'].mean()
budget_best_original_screenplay_mean = movie_df.budget[movie_df.oscar_category == 'Best Original Screenplay'].mean()

In [6]:
print("Budget Mean of Best Actor ", budget_best_actor_mean)
print("Budget Mean of Best Actoress ",budget_best_actoress_mean)
print("Budget Mean of Best Director ",budget_best_director_mean)
print("Budget Mean of Best Picture ",budget_best_picture_mean)
print("Budget Mean of Best Adapted Screenplay ",budget_best_adapted_screenplay_mean)
print("Budget Mean of Best Original Screenplay ",budget_best_original_screenplay_mean)

Budget Mean of Best Actor  17323630.07
Budget Mean of Best Actoress  11092163.186666667
Budget Mean of Best Director  21492389.0
Budget Mean of Best Picture  26532620.19825073
Budget Mean of Best Adapted Screenplay  17194711.416666668
Budget Mean of Best Original Screenplay  15385526.386440678

### Revenue Mean For Different Categories

In [7]:
revenue_best_actor_mean = movie_df.revenue[movie_df.oscar_category == 'Best Actor'].mean()
revenue_best_actoress_mean = movie_df.revenue[movie_df.oscar_category == 'Best Actress'].mean()
revenue_best_director_mean = movie_df.revenue[movie_df.oscar_category == 'Best Director'].mean()
revenue_best_picture_mean = movie_df.revenue[movie_df.oscar_category == 'Best Picture'].mean()
revenue_best_adapted_screenplay_mean = movie_df.revenue[movie_df.oscar_category == 'Best Adapted Screenplay'].mean()
revenue_best_original_screenplay_mean = movie_df.revenue[movie_df.oscar_category == 'Best Original Screenplay'].mean()

In [8]:
print("Revenue Mean of Best Actor ", revenue_best_actor_mean)
print("Revenue Mean of Best Actoress ",revenue_best_actoress_mean)
print("Revenue Mean of Best Director ",revenue_best_director_mean)
print("Revenue Mean of Best Picture ",revenue_best_picture_mean)
print("Revenue Mean of Best Adapted Screenplay ",revenue_best_adapted_screenplay_mean)
print("Revenue Mean of Best Original Screenplay ",revenue_best_original_screenplay_mean)

Revenue Mean of Best Actor  91033070.26
Revenue Mean of Best Actoress  65290865.15
Revenue Mean of Best Director  136493238.82666665
Revenue Mean of Best Picture  168352727.30612245
Revenue Mean of Best Adapted Screenplay  89910163.27666667
Revenue Mean of Best Original Screenplay  97660240.8

### Total Null Values in Budget For Different Categories

In [9]:
## Null Values in Budget For Different Categories

print("Total Null Values in Budget For Best Actor " ,movie_df.budget[movie_df.oscar_category == 'Best Actor'][movie_df.budget == 0].count())
print("Total Null Values in Budget For Best Actress ", movie_df.budget[movie_df.oscar_category == 'Best Actress'][movie_df.budget == 0].count())
print("Total Null Values in Budget For Best Director ",movie_df.budget[movie_df.oscar_category == 'Best Director'][movie_df.budget == 0].count())
print("Total Null Values in Budget For Best Picture ",movie_df.budget[movie_df.oscar_category == 'Best Picture'][movie_df.budget == 0].count())
print("Total Null Values in Budget For Best Adapted Screenplay ",movie_df.budget[movie_df.oscar_category == 'Best Adapted Screenplay'][movie_df.budget == 0].count())
print("Total Null Values in Budget For Best Original Screenplay ",movie_df.budget[movie_df.oscar_category == 'Best Original Screenplay'][movie_df.budget == 0].count())

Total Null Values in Budget For Best Actor  84
Total Null Values in Budget For Best Actress  120
Total Null Values in Budget For Best Director  51
Total Null Values in Budget For Best Picture  45
Total Null Values in Budget For Best Adapted Screenplay  89
Total Null Values in Budget For Best Original Screenplay  85

In [10]:
filter1 = ( (movie_df.oscar_category == 'Best Actor') &  (movie_df.budget == 0))
filter2 = ( (movie_df.oscar_category == 'Best Actress') &  (movie_df.budget == 0))
filter3 = ( (movie_df.oscar_category == 'Best Director') &  (movie_df.budget == 0))
filter4 = ( (movie_df.oscar_category == 'Best Picture') &  (movie_df.budget == 0))
filter5 = ( (movie_df.oscar_category == 'Best Adapted Screenplay') &  (movie_df.budget == 0))
filter6 = ( (movie_df.oscar_category == 'Best Original Screenplay') &  (movie_df.budget == 0))

movie_df.loc[filter1,'budget'] =  budget_best_actor_mean
movie_df.loc[filter2,'budget'] =  budget_best_actoress_mean
movie_df.loc[filter3,'budget'] =  budget_best_director_mean
movie_df.loc[filter4,'budget'] =  budget_best_picture_mean
movie_df.loc[filter5,'budget'] =  budget_best_adapted_screenplay_mean
movie_df.loc[filter6,'budget'] =  budget_best_original_screenplay_mean

### Null Values in Budget For Different Categories After Imputation

In [11]:
## Null Values in Budget For Different Categories After Imputation

print("Total Null Values in Budget For Best Actor " ,movie_df.budget[movie_df.oscar_category == 'Best Actor'][movie_df.budget == 0].count())
print("Total Null Values in Budget For Best Actress ", movie_df.budget[movie_df.oscar_category == 'Best Actress'][movie_df.budget == 0].count())
print("Total Null Values in Budget For Best Director ",movie_df.budget[movie_df.oscar_category == 'Best Director'][movie_df.budget == 0].count())
print("Total Null Values in Budget For Best Picture ",movie_df.budget[movie_df.oscar_category == 'Best Picture'][movie_df.budget == 0].count())
print("Total Null Values in Budget For Best Adapted Screenplay ",movie_df.budget[movie_df.oscar_category == 'Best Adapted Screenplay'][movie_df.budget == 0].count())
print("Total Null Values in Budget For Best Original Screenplay ",movie_df.budget[movie_df.oscar_category == 'Best Original Screenplay'][movie_df.budget == 0].count())

Total Null Values in Budget For Best Actor  0
Total Null Values in Budget For Best Actress  0
Total Null Values in Budget For Best Director  0
Total Null Values in Budget For Best Picture  0
Total Null Values in Budget For Best Adapted Screenplay  0
Total Null Values in Budget For Best Original Screenplay  0

### Total Null Values in Revenue For Different Categories

In [12]:
## Null Values in Revenue For Different Categories

print("Total Null Values in Revenue For Best Actor " ,movie_df.revenue[movie_df.oscar_category == 'Best Actor'][movie_df.revenue == 0].count())
print("Total Null Values in Revenue For Best Actress ", movie_df.revenue[movie_df.oscar_category == 'Best Actress'][movie_df.revenue == 0].count())
print("Total Null Values in Revenue For Best Director ",movie_df.revenue[movie_df.oscar_category == 'Best Director'][movie_df.revenue == 0].count())
print("Total Null Values in Revenue For Best Picture ",movie_df.revenue[movie_df.oscar_category == 'Best Picture'][movie_df.revenue == 0].count())
print("Total Null Values in Revenue For Best Adapted Screenplay ",movie_df.revenue[movie_df.oscar_category == 'Best Adapted Screenplay'][movie_df.revenue == 0].count())
print("Total Null Values in Revenue For Best Original Screenplay ",movie_df.revenue[movie_df.oscar_category == 'Best Original Screenplay'][movie_df.revenue == 0].count())

Total Null Values in Revenue For Best Actor  68
Total Null Values in Revenue For Best Actress  102
Total Null Values in Revenue For Best Director  47
Total Null Values in Revenue For Best Picture  34
Total Null Values in Revenue For Best Adapted Screenplay  74
Total Null Values in Revenue For Best Original Screenplay  84

In [13]:
filter1 = ( (movie_df.oscar_category == 'Best Actor') &  (movie_df.revenue == 0))
filter2 = ( (movie_df.oscar_category == 'Best Actress') &  (movie_df.revenue == 0))
filter3 = ( (movie_df.oscar_category == 'Best Director') &  (movie_df.revenue == 0))
filter4 = ( (movie_df.oscar_category == 'Best Picture') &  (movie_df.revenue == 0))
filter5 = ( (movie_df.oscar_category == 'Best Adapted Screenplay') &  (movie_df.revenue == 0))
filter6 = ( (movie_df.oscar_category == 'Best Original Screenplay') &  (movie_df.revenue == 0))

movie_df.loc[filter1,'revenue'] =  revenue_best_actor_mean
movie_df.loc[filter2,'revenue'] =  revenue_best_actoress_mean
movie_df.loc[filter3,'revenue'] =  revenue_best_director_mean
movie_df.loc[filter4,'revenue'] =  revenue_best_picture_mean
movie_df.loc[filter5,'revenue'] =  revenue_best_adapted_screenplay_mean
movie_df.loc[filter6,'revenue'] =  revenue_best_original_screenplay_mean

### Null Values in Revenue For Different Categories After Imputation

In [15]:
print("Total Null Values in Revenue For Best Actor " ,movie_df.revenue[movie_df.oscar_category == 'Best Actor'][movie_df.revenue == 0].count())
print("Total Null Values in Revenue For Best Actress ", movie_df.revenue[movie_df.oscar_category == 'Best Actress'][movie_df.revenue == 0].count())
print("Total Null Values in Revenue For Best Director ",movie_df.revenue[movie_df.oscar_category == 'Best Director'][movie_df.revenue == 0].count())
print("Total Null Values in Revenue For Best Picture ",movie_df.revenue[movie_df.oscar_category == 'Best Picture'][movie_df.revenue == 0].count())
print("Total Null Values in Revenue For Best Adapted Screenplay ",movie_df.revenue[movie_df.oscar_category == 'Best Adapted Screenplay'][movie_df.revenue == 0].count())
print("Total Null Values in Revenue For Best Original Screenplay ",movie_df.revenue[movie_df.oscar_category == 'Best Original Screenplay'][movie_df.revenue == 0].count())

Total Null Values in Revenue For Best Actor  0
Total Null Values in Revenue For Best Actress  0
Total Null Values in Revenue For Best Director  0
Total Null Values in Revenue For Best Picture  0
Total Null Values in Revenue For Best Adapted Screenplay  0
Total Null Values in Revenue For Best Original Screenplay  0

In [16]:
movie_df

,Unnamed: 0,tmdb_id,imdb_id,year_film,year_ceremony,film,oscar_category,nominee,oscar_win,no_oscar_wins,...,revenue,runtime,tmdb_vote_average,tmdb_vote_count,imdb_rating,imdb_votes,rotten_tomatoes_rating,metascore,total_wins,total_nominations
0,0,53939,tt0054326,1960,1961,Sons and Lovers,Best Actor,Trevor Howard,False,1.0,...,9.103307e+07,103,69,18,71,1408,67.0,NaN,7,16
1,1,22013,tt0053793,1960,1961,Elmer Gantry,Best Actor,Burt Lancaster,True,3.0,...,1.040000e+07,146,72,85,78,10534,94.0,NaN,8,13
2,2,284,tt0053604,1960,1961,The Apartment,Best Actor,Jack Lemmon,False,5.0,...,2.500000e+07,125,82,1429,83,165873,93.0,94.0,19,8
3,3,18929,tt0053796,1960,1961,The Entertainer,Best Actor,Laurence Olivier,False,0.0,...,9.103307e+07,96,62,28,71,3022,77.0,70.0,19,4
4,4,1908,tt0053946,1960,1961,Inherit the Wind,Best Actor,Spencer Tracy,False,0.0,...,9.103307e+07,128,78,252,81,27478,92.0,75.0,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1833,1833,546554,tt8946378,2019,2020,Knives Out,Best Original Screenplay,Written by Rian Johnson,False,0.0,...,3.092328e+08,131,78,7011,79,471083,97.0,82.0,47,107
1834,1834,492188,tt7653254,2019,2020,Marriage Story,Best Original Screenplay,Written by Noah Baumbach,False,1.0,...,2.300000e+06,137,78,4745,79,253928,94.0,94.0,126,269
1835,1835,530915,tt8579674,2019,2020,1917,Best Original Screenplay,Written by Sam Mendes & Krysty Wilson-Cairns,False,3.0,...,3.747339e+08,119,79,7950,83,442036,89.0,78.0,127,198
1836,1836,466272,tt7131622,2019,2020,Once upon a Time...in Hollywood,Best Original Screenplay,Written by Quentin Tarantino,False,2.0,...,3.742512e+08,162,75,8462,76,563506,85.0,83.0,134,372
1837,1837,496243,tt6751668,2019,2020,Parasite,Best Original Screenplay,"Screenplay by Bong Joon Ho, Han Jin Won; Story...",True,4.0,...,2.575918e+08,133,85,11079,86,580433,98.0,96.0,297,265

In [27]:
movie_df.isnull().any()

Unnamed: 0                False
tmdb_id                   False
imdb_id                   False
year_film                 False
year_ceremony             False
film                      False
oscar_category            False
nominee                   False
oscar_win                 False
no_oscar_wins             False
no_oscar_nominations      False
genre_id                  False
staring_casts             False
casts_popularity          False
director                  False
producers                 False
screenplay                False
crew_popularity           False
budget                    False
revenue                   False
runtime                   False
tmdb_vote_average         False
tmdb_vote_count           False
imdb_rating               False
imdb_votes                False
rotten_tomatoes_rating     True
metascore                  True
total_wins                False
total_nominations         False
dtype: bool

There seems to be some null values in rotten_tomatoes_rating and metascore. Let's try and fix that too!

### Rotten Tomatoes Rating Mean For Different Categories

In [18]:
rotten_tomatoes_rating_best_actor_mean = movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Actor'].mean()
rotten_tomatoes_rating_best_actoress_mean = movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Actress'].mean()
rotten_tomatoes_rating_best_director_mean = movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Director'].mean()
rotten_tomatoes_rating_best_picture_mean = movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Picture'].mean()
rotten_tomatoes_rating_best_adapted_screenplay_mean = movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Adapted Screenplay'].mean()
rotten_tomatoes_rating_best_adapted_screenplay_mean = movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Original Screenplay'].mean()

In [19]:
print("Rotten Tomatoes Rating Mean of Best Actor ", rotten_tomatoes_rating_best_actor_mean)
print("Rotten Tomatoes Rating Mean of Actoress ",rotten_tomatoes_rating_best_actoress_mean)
print("Rotten Tomatoes Rating Mean of Best Director ",rotten_tomatoes_rating_best_director_mean)
print("Rotten Tomatoes Rating Mean of Picture ",rotten_tomatoes_rating_best_picture_mean)
print("Rotten Tomatoes Rating Mean of Adapted Screenplay ",rotten_tomatoes_rating_best_adapted_screenplay_mean)
print("Rotten Tomatoes Rating Mean of Original Screenplay ",rotten_tomatoes_rating_best_adapted_screenplay_mean)

Rotten Tomatoes Rating Mean of Best Actor  80.56
Rotten Tomatoes Rating Mean of Actoress  78.12709030100335
Rotten Tomatoes Rating Mean of Best Director  84.54362416107382
Rotten Tomatoes Rating Mean of Picture  85.88921282798835
Rotten Tomatoes Rating Mean of Adapted Screenplay  83.37627118644068
Rotten Tomatoes Rating Mean of Original Screenplay  83.37627118644068

### Metascore Mean For Different Categories

In [20]:
metascore_best_actor_mean = movie_df.metascore[movie_df.oscar_category == 'Best Actor'].mean()
metascore_best_actoress_mean = movie_df.metascore[movie_df.oscar_category == 'Best Actress'].mean()
metascore_best_director_mean = movie_df.metascore[movie_df.oscar_category == 'Best Director'].mean()
metascore_best_picture_mean = movie_df.metascore[movie_df.oscar_category == 'Best Picture'].mean()
metascore_best_adapted_screenplay_mean = movie_df.metascore[movie_df.oscar_category == 'Best Adapted Screenplay'].mean()
metascore_best_adapted_screenplay_mean = movie_df.metascore[movie_df.oscar_category == 'Best Original Screenplay'].mean()

In [23]:
print("Metascore Mean of Best Actor ", metascore_best_actor_mean)
print("Metascore Mean of Actoress ",metascore_best_actoress_mean)
print("Metascore Mean of Best Director ",metascore_best_director_mean)
print("Metascore Mean of Picture ",metascore_best_picture_mean)
print("Metascore Mean of Adapted Screenplay ",metascore_best_adapted_screenplay_mean)
print("Metascore Mean of Original Screenplay ",metascore_best_adapted_screenplay_mean)

Metascore Mean of Best Actor  76.89494163424125
Metascore Mean of Actoress  75.06008583690988
Metascore Mean of Best Director  81.62773722627738
Metascore Mean of Picture  79.534375
Metascore Mean of Adapted Screenplay  79.88306451612904
Metascore Mean of Original Screenplay  79.88306451612904

Interesting! we can see that Rotten Tomatoes have a slightly higher mean score!

### Total Null Values in Rotten Tomatoes Rating For Different Categories

In [102]:
## Null Values in Rotten Tomatoes Rating For Different Categories

print("Total Null Values in Rotten Tomatoes Rating For Best Actor " ,movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Actor'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Actress ",movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Actress'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Director ",movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Director'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Picture ",movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Picture'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Adapted Screenplay ",movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Adapted Screenplay'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Original Screenplay ",movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Original Screenplay'].isna().sum())

Total Null Values in Rotten Tomatoes Rating For Best Actor  0
Total Null Values in Rotten Tomatoes Rating For Best Actress  1
Total Null Values in Rotten Tomatoes Rating For Best Director  2
Total Null Values in Rotten Tomatoes Rating For Best Picture  0
Total Null Values in Rotten Tomatoes Rating For Best Adapted Screenplay  2
Total Null Values in Rotten Tomatoes Rating For Best Original Screenplay  0

In [109]:
filter1 = ( (movie_df.oscar_category == 'Best Actor') &  (movie_df.rotten_tomatoes_rating.isna()))
filter2 = ( (movie_df.oscar_category == 'Best Actress') &  (movie_df.rotten_tomatoes_rating.isna()))
filter3 = ( (movie_df.oscar_category == 'Best Director') &  (movie_df.rotten_tomatoes_rating.isna()))
filter4 = ( (movie_df.oscar_category == 'Best Picture') &  (movie_df.rotten_tomatoes_rating.isna()))
filter5 = ( (movie_df.oscar_category == 'Best Adapted Screenplay') &  (movie_df.rotten_tomatoes_rating.isna()))
filter6 = ( (movie_df.oscar_category == 'Best Original Screenplay') &  (movie_df.rotten_tomatoes_rating.isna()))

movie_df.loc[filter1,'rotten_tomatoes_rating'] =  rotten_tomatoes_rating_best_actor_mean
movie_df.loc[filter2,'rotten_tomatoes_rating'] =  rotten_tomatoes_rating_best_actoress_mean
movie_df.loc[filter3,'rotten_tomatoes_rating'] =  rotten_tomatoes_rating_best_director_mean
movie_df.loc[filter4,'rotten_tomatoes_rating'] =  rotten_tomatoes_rating_best_picture_mean
movie_df.loc[filter5,'rotten_tomatoes_rating'] =  rotten_tomatoes_rating_best_adapted_screenplay_mean
movie_df.loc[filter6,'rotten_tomatoes_rating'] =  rotten_tomatoes_rating_best_adapted_screenplay_mean

### Null Values in Rotten Tomatoes Rating  For Different Categories After Imputation

In [112]:
print("Total Null Values in Rotten Tomatoes Rating For Best Actor " ,movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Actor'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Actress ",movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Actress'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Director ",movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Director'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Picture ",movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Picture'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Adapted Screenplay ",movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Adapted Screenplay'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Original Screenplay ",movie_df.rotten_tomatoes_rating[movie_df.oscar_category == 'Best Original Screenplay'].isna().sum())

Total Null Values in Rotten Tomatoes Rating For Best Actor  0
Total Null Values in Rotten Tomatoes Rating For Best Actress  0
Total Null Values in Rotten Tomatoes Rating For Best Director  0
Total Null Values in Rotten Tomatoes Rating For Best Picture  0
Total Null Values in Rotten Tomatoes Rating For Best Adapted Screenplay  0
Total Null Values in Rotten Tomatoes Rating For Best Original Screenplay  0

### Total Null Values in Metascore For Different Categories

In [103]:
## Null Values in Metascore For Different Categories

print("Total Null Values in Rotten Tomatoes Rating For Best Actor " ,movie_df.metascore[movie_df.oscar_category == 'Best Actor'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Actress ",movie_df.metascore[movie_df.oscar_category == 'Best Actress'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Director ",movie_df.metascore[movie_df.oscar_category == 'Best Director'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Picture ",movie_df.metascore[movie_df.oscar_category == 'Best Picture'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Adapted Screenplay ",movie_df.metascore[movie_df.oscar_category == 'Best Adapted Screenplay'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Original Screenplay ",movie_df.metascore[movie_df.oscar_category == 'Best Original Screenplay'].isna().sum())

Total Null Values in Rotten Tomatoes Rating For Best Actor  43
Total Null Values in Rotten Tomatoes Rating For Best Actress  67
Total Null Values in Rotten Tomatoes Rating For Best Director  26
Total Null Values in Rotten Tomatoes Rating For Best Picture  23
Total Null Values in Rotten Tomatoes Rating For Best Adapted Screenplay  46
Total Null Values in Rotten Tomatoes Rating For Best Original Screenplay  47

In [113]:
filter1 = ( (movie_df.oscar_category == 'Best Actor') &  (movie_df.metascore.isna()))
filter2 = ( (movie_df.oscar_category == 'Best Actress') &  (movie_df.metascore.isna()))
filter3 = ( (movie_df.oscar_category == 'Best Director') &  (movie_df.metascore.isna()))
filter4 = ( (movie_df.oscar_category == 'Best Picture') &  (movie_df.metascore.isna()))
filter5 = ( (movie_df.oscar_category == 'Best Adapted Screenplay') &  (movie_df.metascore.isna()))
filter6 = ( (movie_df.oscar_category == 'Best Original Screenplay') &  (movie_df.metascore.isna()))

movie_df.loc[filter1,'metascore'] =  metascore_best_actor_mean
movie_df.loc[filter2,'metascore'] =  metascore_best_actoress_mean
movie_df.loc[filter3,'metascore'] =  metascore_best_director_mean
movie_df.loc[filter4,'metascore'] =  metascore_best_picture_mean
movie_df.loc[filter5,'metascore'] =  metascore_best_adapted_screenplay_mean
movie_df.loc[filter6,'metascore'] =  metascore_best_adapted_screenplay_mean

### Null Values in Metascore For Different Categories After Imputation

In [114]:
## Null Values in Metascore For Different Categories

print("Total Null Values in Rotten Tomatoes Rating For Best Actor " ,movie_df.metascore[movie_df.oscar_category == 'Best Actor'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Actress ",movie_df.metascore[movie_df.oscar_category == 'Best Actress'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Director ",movie_df.metascore[movie_df.oscar_category == 'Best Director'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Picture ",movie_df.metascore[movie_df.oscar_category == 'Best Picture'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Adapted Screenplay ",movie_df.metascore[movie_df.oscar_category == 'Best Adapted Screenplay'].isna().sum())
print("Total Null Values in Rotten Tomatoes Rating For Best Original Screenplay ",movie_df.metascore[movie_df.oscar_category == 'Best Original Screenplay'].isna().sum())

Total Null Values in Rotten Tomatoes Rating For Best Actor  0
Total Null Values in Rotten Tomatoes Rating For Best Actress  0
Total Null Values in Rotten Tomatoes Rating For Best Director  0
Total Null Values in Rotten Tomatoes Rating For Best Picture  0
Total Null Values in Rotten Tomatoes Rating For Best Adapted Screenplay  0
Total Null Values in Rotten Tomatoes Rating For Best Original Screenplay  0

Let's check if there any other null values that have not yet been handled

In [115]:
movie_df.isnull().any()

Unnamed: 0                False
tmdb_id                   False
imdb_id                   False
year_film                 False
year_ceremony             False
film                      False
oscar_category            False
nominee                   False
oscar_win                 False
no_oscar_wins             False
no_oscar_nominations      False
genre_id                  False
staring_casts             False
casts_popularity          False
director                  False
producers                 False
screenplay                False
crew_popularity           False
budget                    False
revenue                   False
runtime                   False
tmdb_vote_average         False
tmdb_vote_count           False
imdb_rating               False
imdb_votes                False
rotten_tomatoes_rating    False
metascore                 False
total_wins                False
total_nominations         False
dtype: bool

Great! It has been handled. Now let's move on to the data exploratory analysis!

In [116]:
db_path='Final_Movie_Data_Cleaned.csv'
movie_df.to_csv(db_path)
print("Exported to local folder:",db_path)

Exported to local folder: Final_Movie_Data_Cleaned.csv