# Exploratory Analysis

### Basic Libraries
- NumPy : Library for Numeric Computations in Python
- Pandas : Library for Data Acquisition and Preparation
- Matplotlib : Low-level library for Data Visualization
- Seaborn : Higher-level library for Data Visualization

In [13]:
# Basic Libraries
#NumPy : Library for Numeric Computations in Python
#Pandas : Library for Data Acquisition and Preparation
#Matplotlib : Low-level library for Data Visualization
#Seaborn : Higher-level library for Data Visualization

import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot

sb.set() # set the default Seaborn style for graphics

## Import the Dataset

The dataset is in CSV format; hence we use the read_csv function from Pandas.
Immediately after importing, take a quick look at the data using the head function.

In [14]:
trainData = pd.read_csv('data/check1.csv')
trainData.head()

,Unnamed: 0,tmdb_id,imdb_id,year_film,year_ceremony,film,oscar_category,nominee,no_oscar_nominations,oscar_win,...,staring_casts,casts_popularity,director,producers,screenplay,budget,revenue,runtime,tmdb_vote_average,tmdb_vote_count
0,0,53939.0,tt0054326,1960,1961,Sons and Lovers,Best Actor,Trevor Howard,7,False,...,"['Trevor Howard', 'Dean Stockwell', 'Wendy Hil...",13.237,Jack Cardiff,[],['Gavin Lambert'],0.0,0.0,103.0,6.9,18.0
1,1,22013.0,tt0053793,1960,1961,Elmer Gantry,Best Actor,Burt Lancaster,5,True,...,"['Burt Lancaster', 'Jean Simmons', 'Arthur Ken...",8.478,Richard Brooks,['Bernard Smith'],['Richard Brooks'],3000000.0,10400000.0,146.0,7.2,85.0
2,2,284.0,tt0053604,1960,1961,The Apartment,Best Actor,Jack Lemmon,10,False,...,"['Jack Lemmon', 'Shirley MacLaine', 'Fred MacM...",16.337,Billy Wilder,['Billy Wilder'],[],3000000.0,25000000.0,125.0,8.2,1425.0
3,3,18929.0,tt0053796,1960,1961,The Entertainer,Best Actor,Laurence Olivier,1,False,...,"['Laurence Olivier', 'Brenda De Banzie', 'Roge...",6.567,Tony Richardson,['Harry Saltzman'],"['John Osborne', 'Nigel Kneale']",0.0,0.0,96.0,6.2,28.0
4,4,1908.0,tt0053946,1960,1961,Inherit the Wind,Best Actor,Spencer Tracy,4,False,...,"['Spencer Tracy', 'Fredric March', 'Gene Kelly...",9.098,Stanley Kramer,"['Stanley Kramer', 'Herman Shumlin']","['Nedrick Young', 'Harold Jacob Smith']",0.0,0.0,128.0,7.8,250.0

## Analysis of Numeric Variables

Extract the following Numeric variables from the dataset, and store as a new Pandas DataFrame.

In [20]:
#Problem 1: Analysis of Numeric Variables

#Extract the following Numeric variables from the dataset, and store as a new Pandas DataFrame.
houseNumData = pd.DataFrame(trainData[['oscar_category', 'nominee', 'film', 'year_film']])
houseNumData.describe().round(2)

       year_film
count    1840.00
mean     1990.11
std        17.49
min      1960.00
25%      1975.00
50%      1990.00
75%      2006.00
max      2019.00