In [1]:
from tmdbv3api import TMDb, Movie
from tmdbv3api import Account
from tmdbv3api import Authentication

##Import the rest of required libraries
import time, random
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set(palette='icefire') # set the default Seaborn style for graphics

##TMDB details
##Account details for getting movie reccomendations
##Run this block only once during a session
tmdb = TMDb()
tmdb.api_key = '0921b0cce35c0b2ec8b874614d1d0b47' ##insert apikey
tmdb.language = 'en'

USERNAME = "cybercat94"
PASSWORD = "Wave1994@"
auth = Authentication(username=USERNAME, password=PASSWORD)
account = Account()
details = account.details()
movie = Movie()

# List of functions
#### 1. `Full_Mov_DB_2_CSV(date)`
    TMDB provides daily exports of its entire database.
    However, there are not many attributes to this list.
    Takes a date param as string (YYYY-MM-DD), and writes the export for that day to a CSV file in the local folder.
#### 2. `Dict_2_DF(dictionary_in)`
    Converts a dictionary in the style of a DF into a Pandas Dataframe
    E.g. each column has multiple rows containing the information for an index
    **still a work in progress**

In [2]:
## Extract daily exports of entire TMBD database
## Function accepts ISO 8601 spec for dates
## e.g. Full_Mov_DB_2_CSV('YYYY-MM-DD')
def full_mov_db_2_csv(date):
    ## format the fetch url
    db_online_path='http://files.tmdb.org/p/exports/movie_ids_'+date[5:7]+'_'+date[8:10]+'_'+date[:4]+'.json.gz'
    print("Export link:", db_online_path)
    
    ## will throw exception if url does not exist
    try:
        data_raw = pd.read_json(db_online_path, compression='gzip', lines=True)
        print("Writing to file...")
    except:
        print('Error in extracting file from link...\nFile may not yet exist on TMDB.')
        return
    
    ## format the local file name
    db_path='FullDB_'+date+'.csv'
    data_raw.to_csv(db_path)
    print("Exported to local folder:",db_path)

resultlist = movie.search("Star wars")
for i in range(len(resultlist)):
    temp = pd.DataFrame.from_dict(resultlist[i], orient='index')
    df_return = 

def dataframe_from_search(query):
    if type(query) != str:
        print("Enter string as search query")
        return
    else:
        querylist = movie.search(query)
        temp = pd.DataFrame.from_dict(querylist[i])
        for i in range(len(querylist)):

print(resultlist[0])
test_df = pd.DataFrame.from_dict(resultlist[0], orient='index')
print(test_df)

# Cleaning up the dataset 
#### Remove entries that are:
- movies release before 2000 (21st century movies in dataset)
- movies with no financial information (0 box office and 0 budget)
-

In [3]:
## Create local CSV file
## hashed out this one as local fil for 2021-03-15 has already been created
#### full_mov_db_2_csv('2021-03-15')

In [4]:
data_raw = pd.read_csv('FullDB_2021-03-15.csv')
display(data_raw.describe())
display(data_raw.head())

          Unnamed: 0             id     popularity
count  589030.000000  589030.000000  589030.000000
mean   294514.500000  424643.205338       2.038660
std    170038.458868  227787.276924      13.428002
min         0.000000       2.000000       0.000000
25%    147257.250000  255399.250000       0.600000
50%    294514.500000  431652.500000       0.600000
75%    441771.750000  618026.000000       1.365000
max    589029.000000  806096.000000    5726.502000

,Unnamed: 0,adult,id,original_title,popularity,video
0,0,False,3924,Blondie,3.837,False
1,1,False,6124,Der Mann ohne Namen,0.600,False
2,2,False,8773,L'amour à vingt ans,2.932,False
3,3,False,25449,New World Disorder 9: Never Enough,2.981,False
4,4,False,31975,Sesame Street: Elmo Loves You!,1.965,True

In [5]:
## Taking a look at what col headers are present in movie details
stats = movie.details(10000)
print(pd.DataFrame(stats),'\n')

                        0
0                   adult
1           backdrop_path
2   belongs_to_collection
3                  budget
4                  genres
5                homepage
6                      id
7                 imdb_id
8       original_language
9          original_title
10               overview
11             popularity
12            poster_path
13   production_companies
14   production_countries
15           release_date
16                revenue
17                runtime
18       spoken_languages
19                 status
20                tagline
21                  title
22                  video
23           vote_average
24             vote_count
25                 videos
26               trailers
27                 images
28                  casts
29           translations
30               keywords
31          release_dates

In [6]:
## taking a peek at a movie's stats
## does NOT use IMDB id, uses 'id' <- not sure about where this id comes from
## taking a random movie id
stats = movie.details(805900)
movie_attributes = ['title','original_title','id','imdb_id','release_date','genres','budget','revenue','overview','popularity','spoken_languages','vote_average','production_companies','production_countries']
for stuff in movie_attributes:
    print(stuff,':',stats[stuff])
## the 'casts' key contains too many items, using the next code box to look at casts
## production countries may also have many elements for large movies

title : Verlorene Töchter
original_title : Verlorene Töchter
id : 805900
imdb_id : tt1236341
release_date : 1918-09-04
genres : []
budget : 0
revenue : 0
overview :
popularity : 0.6
spoken_languages : []
vote_average : 0.0
production_companies : []
production_countries : [{'iso_3166_1': 'DE', 'name': 'Germany'}]

In [7]:
## looking at actors in a specific movie
cast_attributes = ['original_name','gender','popularity','adult']
for thing in stats['casts']['cast']:
    for item in cast_attributes:
        print(item,':',thing[item])
    print()

original_name : Max Ruhbeck
gender : 0
popularity : 0.6
adult : False

original_name : Marga Köhler
gender : 0
popularity : 1.38
adult : False

original_name : Helga Molander
gender : 1
popularity : 0.6
adult : False

original_name : Carl Auen
gender : 2
popularity : 0.6
adult : False

original_name : Lu Synd
gender : 1
popularity : 0.98
adult : False

In [8]:
##looking at crew members in a specific movie
crew_attributes = ['original_name','id','gender','adult', 'job','department','known_for_department']
cast_count = len(stats['casts']['crew'])
print('Number of cast members:', str(cast_count),'\n')
for item in stats['casts']['crew']:
    for subitem in crew_attributes:
        print(subitem,':',item[subitem])
    print()

Number of cast members: 3

original_name : Hanns Kräly
id : 42063
gender : 2
adult : False
job : Writer
department : Writing
known_for_department : Writing

original_name : William Kahn
id : 2401430
gender : 0
adult : False
job : Director
department : Directing
known_for_department : Writing

original_name : William Kahn
id : 2401430
gender : 0
adult : False
job : Writer
department : Writing
known_for_department : Writing

In [9]:
test_df = pd.DataFrame.from_dict(stats['casts']['crew'][0], orient='index')
#print(test_df,'\n')
#test_df.info()

## Test code, still unfinished
## Dictionary to DF process:
## Extract dictionary, place into DataFrame
## Concatenate consec dictionaries together
## Recast columns into the appropriate data types
new_df = None
for item in stats['casts']['crew']:
    sub_df = pd.DataFrame.from_dict(item, orient='index')
    if new_df is None:
        new_df = sub_df.T
    else:
        new_df = pd.concat([new_df, sub_df.T], sort=True)
new_df = new_df.convert_dtypes().reset_index()
new_df.info()
new_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3 non-null      int64
 1   adult                 3 non-null      boolean
 2   credit_id             3 non-null      string
 3   department            3 non-null      string
 4   gender                3 non-null      Int64
 5   id                    3 non-null      Int64
 6   job                   3 non-null      string
 7   known_for_department  3 non-null      string
 8   name                  3 non-null      string
 9   original_name         3 non-null      string
 10  popularity            3 non-null      float64
 11  profile_path          0 non-null      object
dtypes: Int64(2), boolean(1), float64(1), int64(1), object(1), string(6)
memory usage: 404.0+ bytes

,index,adult,credit_id,department,gender,id,job,known_for_department,name,original_name,popularity,profile_path
0,0,False,604e6a7c89f74900289deaf8,Writing,2,42063,Writer,Writing,Hanns Kräly,Hanns Kräly,0.6,None
1,0,False,604e6a851d53860028163d94,Directing,0,2401430,Director,Writing,William Kahn,William Kahn,0.6,None
2,0,False,604e6a897314a10040f37121,Writing,0,2401430,Writer,Writing,William Kahn,William Kahn,0.6,None

In [10]:
## input param must be a list/array containing multiple dictionaries that have identically formatted keys
## Returns a propery formatted dataframe with the keys at column positions
def consec_dict_2_df(dict_in):
    return_df = None
    for item in dict_in:
        sub_df = pd.DataFrame.from_dict(item, orient='index')
        if return_df is None:
            return_df = sub_df.T
        else:
            return_df = pd.concat([return_df,sub_df.T], sort=True)
    
    return_df = return_df.convert_dtypes().reset_index()
    return return_df

## testing
consec_dict_2_df(stats['casts']['crew'])

,index,adult,credit_id,department,gender,id,job,known_for_department,name,original_name,popularity,profile_path
0,0,False,604e6a7c89f74900289deaf8,Writing,2,42063,Writer,Writing,Hanns Kräly,Hanns Kräly,0.6,None
1,0,False,604e6a851d53860028163d94,Directing,0,2401430,Director,Writing,William Kahn,William Kahn,0.6,None
2,0,False,604e6a897314a10040f37121,Writing,0,2401430,Writer,Writing,William Kahn,William Kahn,0.6,None

In [11]:
## shortening the dataframe size so that code does not take forever to run
## 10K entries is apparently too long
## limit to 100 entries for now
data_short = data_raw.head(10)
data_short

,Unnamed: 0,adult,id,original_title,popularity,video
0,0,False,3924,Blondie,3.837,False
1,1,False,6124,Der Mann ohne Namen,0.600,False
2,2,False,8773,L'amour à vingt ans,2.932,False
3,3,False,25449,New World Disorder 9: Never Enough,2.981,False
4,4,False,31975,Sesame Street: Elmo Loves You!,1.965,True
5,5,False,2,Ariel,8.455,False
6,6,False,3,Varjoja paratiisissa,6.696,False
7,7,False,5,Four Rooms,13.794,False
8,8,False,6,Judgment Night,12.455,False
9,9,False,8,Life in Loops (A Megacities RMX),2.261,False

In [12]:
## checking the number of movies with financial data
## only counts movies that have both budget and box office numbers (not zero)
## Looks like the call rate is heavily limited after approximately 5000 calls
## API calls after 6000 are reduced to around 4 per second
## Call API in batches of 5000 or less to get past this bottleneck
## Need to check the off time in between batches

hit=0
total_count=0
total_uncount=0
top=len(data_short['id'])

for item_id in data_short['id']:
    ## visual indication of progress
    time.sleep(0.001)
    if total_count+total_uncount == top-1:
        print('API call complete:   '+str(total_count+total_uncount+1)+'/'+str(top))
    else:
        print('API calls: '+str(total_count+total_uncount+1)+'/'+str(top),end = "\r")
    
    ## skips call if api barfs 
    try:
        mov = movie.details(item_id)
        if(mov['budget'] and mov['revenue']):
            hit += 1
        total_count += 1
    except:
        total_uncount += 1
        
print("Successful calls:   ",str(total_count))
print("Unsuccessful calls: ",str(total_uncount))
print("Percentage of movies with financial statistics: ",str(hit/total_count*100)+'%')

API call complete:   10/10
Successful calls:    10
Unsuccessful calls:  0
Percentage of movies with financial statistics:  20.0%

In [13]:
## Wrapping the above code cell into a function
## pass the 'id' column from daily export CSV into function
## take the first 10 values and increment by an order of magnitude for each iteration

def financialstat_counter(data):
    hit=0
    total_count=0
    total_uncount=0
    top=len(data)

    for item_id in data:
        ## visual indication of progress
        time.sleep(0.001)
        if total_count+total_uncount == top-1:
            print('API call complete:   '+str(total_count+total_uncount+1)+'/'+str(top))
        else:
            print('API calls: '+str(total_count+total_uncount+1)+'/'+str(top),end = "\r")

        ## skips call if api barfs 
        try:
            mov = movie.details(item_id)
            if(mov['budget'] and mov['revenue']):
                hit += 1
            total_count += 1
        except:
            total_uncount += 1
    
    value=hit/total_count*100
    print("Successful calls:   ",str(total_count))
    print("Unsuccessful calls: ",str(total_uncount))
    print("Percentage of movies with financial statistics: ",str(value)+'%\n')
    return value

In [18]:
%%time 
## must be placed at the TOP of the cell, including above comments
## Checking api call rate/success rate
## Takes the list of movie IDs and samples a set numeber of them randomly
rep_list = [1,10,100]
count=0
x=[]
for rep in rep_list:
    x.append(0.01 * financialstat_counter(random.sample(list(data_raw['id']),rep) ) )
    count+=1
    if count == len(rep_list):
        break
print(x)

API call complete:   1/1
Successful calls:    1
Unsuccessful calls:  0
Percentage of movies with financial statistics:  0.0%

API call complete:   10/10
Successful calls:    10
Unsuccessful calls:  0
Percentage of movies with financial statistics:  10.0%

API call complete:   100/100
Successful calls:    100
Unsuccessful calls:  0
Percentage of movies with financial statistics:  2.0%

[0.0, 0.1, 0.02]
CPU times: user 5.15 s, sys: 253 ms, total: 5.4 s
Wall time: 43.1 s