In [1]:
from tmdbv3api import TMDb, Movie
from tmdbv3api import Account
from tmdbv3api import Authentication

##Import the rest of required libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set(palette='icefire') # set the default Seaborn style for graphics

##TMDB details
##Account details for getting movie reccomendations
##Run this block only once during a session
tmdb = TMDb()
tmdb.api_key = '0921b0cce35c0b2ec8b874614d1d0b47' ##insert apikey
tmdb.language = 'en'

USERNAME = "cybercat94"
PASSWORD = "Wave1994@"
auth = Authentication(username=USERNAME, password=PASSWORD)
account = Account()
details = account.details()
movie = Movie()

# List of functions
#### 1. `Full_Mov_DB_2_CSV(date)`
    TMDB provides daily exports of its entire database.
    However, there are not many attributes to this list.
    Takes a date param as string (YYYY-MM-DD), and writes the export for that day to a CSV file in the local folder

In [2]:
## Extract daily exports of entire TMBD database
## Function accepts ISO 8601 spec for dates
## e.g. Full_Mov_DB_2_CSV('YYYY-MM-DD')
def Full_Mov_DB_2_CSV(date):
    db_online_path='http://files.tmdb.org/p/exports/movie_ids_'+date[5:7]+'_'+date[8:10]+'_'+date[:4]+'.json.gz'
    print("Export link:", db_online_path)
    try:
        data_raw = pd.read_json(db_online_path, compression='gzip', lines=True)
        print("Writing to file...")
    except:
        print('Error in extracting file from link...\nFile may not yet exist on TMDB.')
        return
    
    db_path='FullDB_'+date+'.csv'
    data_raw.to_csv(db_path)
    print("Exported to local folder:",db_path)

resultlist = movie.search("Star wars")
for i in range(len(resultlist)):
    temp = pd.DataFrame.from_dict(resultlist[i], orient='index')
    df_return = 

def dataframe_from_search(query):
    if type(query) != str:
        print("Enter string as search query")
        return
    else:
        querylist = movie.search(query)
        temp = pd.DataFrame.from_dict(querylist[i])
        for i in range(len(querylist)):

print(resultlist[0])
test_df = pd.DataFrame.from_dict(resultlist[0], orient='index')
print(test_df)

# Cleaning up the dataset 
#### Remove entries that are:
- movies release before 2000 (21st century movies in dataset)
- movies with no financial information (0 box office and 0 budget)
-

In [3]:
## Create local CSV file
Full_Mov_DB_2_CSV('2021-03-15')

Export link: http://files.tmdb.org/p/exports/movie_ids_03_15_2021.json.gz
Writing to file...
Exported to local folder: FullDB_2021-03-15.csv

In [4]:
data_raw = pd.read_csv('FullDB_2021-03-15.csv')
display(data_raw.describe())
display(data_raw.head())

          Unnamed: 0             id     popularity
count  589030.000000  589030.000000  589030.000000
mean   294514.500000  424643.205338       2.038660
std    170038.458868  227787.276924      13.428002
min         0.000000       2.000000       0.000000
25%    147257.250000  255399.250000       0.600000
50%    294514.500000  431652.500000       0.600000
75%    441771.750000  618026.000000       1.365000
max    589029.000000  806096.000000    5726.502000

,Unnamed: 0,adult,id,original_title,popularity,video
0,0,False,3924,Blondie,3.837,False
1,1,False,6124,Der Mann ohne Namen,0.600,False
2,2,False,8773,L'amour à vingt ans,2.932,False
3,3,False,25449,New World Disorder 9: Never Enough,2.981,False
4,4,False,31975,Sesame Street: Elmo Loves You!,1.965,True

In [5]:
## Taking a look at what col headers are present in movie details
stats = movie.details(10000)
print(pd.DataFrame(stats),'\n')

                        0
0                   adult
1           backdrop_path
2   belongs_to_collection
3                  budget
4                  genres
5                homepage
6                      id
7                 imdb_id
8       original_language
9          original_title
10               overview
11             popularity
12            poster_path
13   production_companies
14   production_countries
15           release_date
16                revenue
17                runtime
18       spoken_languages
19                 status
20                tagline
21                  title
22                  video
23           vote_average
24             vote_count
25                 videos
26               trailers
27                 images
28                  casts
29           translations
30               keywords
31          release_dates

In [6]:
## taking a peek at a movie's stats
## does NOT use IMDB id, uses 'id' <- not sure about where this id comes from
stats = movie.details(500505)
stuff_that_matters = ['title','original_title','id','imdb_id','release_date','genres','budget','revenue','overview','popularity','spoken_languages','vote_average','casts','production_companies','production_countries']
for stuff in stuff_that_matters:
    print(stuff,':',stats[stuff])

title : Studio One: Wuthering Heights
original_title : Studio One: Wuthering Heights
id : 500505
imdb_id : tt0284665
release_date : 1950-10-30
genres : [{'id': 18, 'name': 'Drama'}]
budget : 0
revenue : 0
overview : Mistreated foundling Heathcliff and his stepsister Catherine fall in love, but when she marries a wealthy man, he becomes obsessed with getting revenge, even well into the next generation.
popularity : 0.6
spoken_languages : [{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}]
vote_average : 0.0
casts : {'cast': [{'adult': False, 'gender': 2, 'id': 10017, 'known_for_department': 'Acting', 'name': 'Charlton Heston', 'original_name': 'Charlton Heston', 'popularity': 5.205, 'profile_path': '/31Z0NOxctaaLPk7Nq60eeQaDHJa.jpg', 'cast_id': 4, 'character': 'Heathcliff', 'credit_id': '5a67e76b0e0a2653ac00234e', 'order': 1}, {'adult': False, 'gender': 0, 'id': 154433, 'known_for_department': 'Acting', 'name': 'Mary Sinclair', 'original_name': 'Mary Sinclair', 'popularity': 1.96, 'profile_path': '/7sAMkDHJgsBxto7TkdzIsPp4Lxb.jpg', 'cast_id': 5, 'character': 'Catherine Earnshaw Linton', 'credit_id': '5a67e7759251411bbb002045', 'order': 2}, {'adult': False, 'gender': 2, 'id': 138234, 'known_for_department': 'Acting', 'name': 'Richard Waring', 'original_name': 'Richard Waring', 'popularity': 0.6, 'profile_path': '/mv7tS4ZsbIyNY4JEiKUcoPNvMyP.jpg', 'cast_id': 6, 'character': 'Hindley Earnshaw', 'credit_id': '5a67e7830e0a2653a2002196', 'order': 3}, {'adult': False, 'gender': 1, 'id': 161326, 'known_for_department': 'Acting', 'name': 'June Dayton', 'original_name': 'June Dayton', 'popularity': 0.6, 'profile_path': '/znjsrAcSLaQvAkHJkcLB20wrWCO.jpg', 'cast_id': 7, 'character': 'Isabella Linton', 'credit_id': '5a67e78e0e0a2653af0022dd', 'order': 4}, {'adult': False, 'gender': 2, 'id': 13399, 'known_for_department': 'Acting', 'name': 'Lloyd Bochner', 'original_name': 'Lloyd Bochner', 'popularity': 1.467, 'profile_path': '/wNtVVJbQkBaL5t0b9f5eUa9X6PS.jpg', 'cast_id': 8, 'character': 'Edgar Linton', 'credit_id': '5a67e7979251411bca002082', 'order': 5}], 'crew': [{'adult': False, 'gender': 1, 'id': 30224, 'known_for_department': 'Writing', 'name': 'Emily Brontë', 'original_name': 'Emily Brontë', 'popularity': 0.6, 'profile_path': '/oxEJAxnAcGwpHyahGrylRrz9eax.jpg', 'credit_id': '5a67e74c9251411bbb002015', 'department': 'Writing', 'job': 'Author'}, {'adult': False, 'gender': 2, 'id': 190704, 'known_for_department': 'Production', 'name': 'Worthington Miner', 'original_name': 'Worthington Miner', 'popularity': 1.008, 'profile_path': None, 'credit_id': '5a67e75ec3a36844ef00217c', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 2, 'id': 1899968, 'known_for_department': 'Directing', 'name': 'Paul Nickell', 'original_name': 'Paul Nickell', 'popularity': 0.6, 'profile_path': None, 'credit_id': '5a67e7439251411bc100204c', 'department': 'Directing', 'job': 'Director'}, {'adult': False, 'gender': 0, 'id': 1966084, 'known_for_department': 'Writing', 'name': 'Lois Jacoby', 'original_name': 'Lois Jacoby', 'popularity': 0.6, 'profile_path': None, 'credit_id': '5a67e7540e0a2653a600233f', 'department': 'Writing', 'job': 'Adaptation'}]}
production_companies : [{'id': 100059, 'logo_path': None, 'name': "Westinghouse's Studio One", 'origin_country': ''}, {'id': 2161, 'logo_path': '/kaHPCUD2nQ1DGWDAH3zbYVCkTae.png', 'name': 'CBS Productions', 'origin_country': 'US'}]
production_countries : [{'iso_3166_1': 'US', 'name': 'United States of America'}]

In [34]:
## looking at actors in a specific movie
thing_list = ['original_name','gender','popularity','adult']
for thing in stats['casts']['cast']:
    for item in thing_list:
        print(item,':',thing[item])
    print()

original_name : Charlton Heston
gender : 2
popularity : 5.205
adult : False

original_name : Mary Sinclair
gender : 0
popularity : 1.96
adult : False

original_name : Richard Waring
gender : 2
popularity : 0.6
adult : False

original_name : June Dayton
gender : 1
popularity : 0.6
adult : False

original_name : Lloyd Bochner
gender : 2
popularity : 1.467
adult : False

In [37]:
## shortening the dataframe size so that code does not take forever to run
## 10K entries is apparently too long
## limit to 100 entries for now
data_short = data_raw.head(10)
data_short.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10 non-null     int64
 1   adult           10 non-null     bool
 2   id              10 non-null     int64
 3   original_title  10 non-null     object
 4   popularity      10 non-null     float64
 5   video           10 non-null     bool
dtypes: bool(2), float64(1), int64(2), object(1)
memory usage: 468.0+ bytes

In [36]:
has_money=0
total=0

for item_id in data_short['id']:
    mov = movie.details(item_id)
    if(mov['budget'] and mov['revenue']):
        has_money += 1
        total += 1
    else:
        total += 1
print("Percentage of movies with financial statistics: ",str(has_money/total*100)+'%')

Percentage of movies with financial statistics:  20.0%